{% extends 'dashboard/base.html' %}
{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">帳務總覽</h1>

  </div>
  <div class="row placeholders">
    <div class="col-xs-8 col-sm-4 placeholder">
      <h3>收入</h3>
      <span class="text-muted">
        <h2>{{ income }}</h2>
      </span>
    </div>
    <div class="col-xs-8 col-sm-4 placeholder">
      <h3>支出</h3>
      <span class="text-muted">
        <h2>
          <font color="#DF565C">{{ outcome }}</font>
        </h2>
      </span>
    </div>
    <div class="col-xs-8 col-sm-4 placeholder">
      <h3>存款</h3>
      <span class="text-muted">
        <h2>
          <font color="#53DF7D">{{ net }}</font>
        </h2>
      </span>
    </div>
  </div>
  <!--
        <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
        -->
  <h3 class="sub-header">歷史記錄</h3>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>日期</th>
          <th>描述</th>
          <th>分類</th>
          <th>金額</th>
          <th>收支</th>
        </tr>
      </thead>
      <tbody>
        {% for record in records %}
        <tr>
          <td>{{ record.date | date:"Y-m-d"}}</td>
          <td>{{ record.description }}</td>
          <td>{{ record.category }}</td>
          <td>{{ record.cash }}</td>
          <td>{{ record.balance_type }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</main>
</div>
</div>
{% endblock %}