{% extends 'dashboard/base.html' %}
{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2"></h1>

    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h3 class="page-header">分類設定</h3>
        <table class="table table-scrollable">
            <thead>
                <tr>
                    <th>分類</th>
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                <td>{{ category.category }}</td>
                {% endfor%}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}